<div class="sidebar-section">
    {% for block in section.blocks %}
        {% assign item = block.settings %}
        {% if block.type == 'image' %}
            <div class="mb-4">
                <p>{{ item.title }}</p>
                <a href="{{ item.url }}">
                    <img src="{{ item.image | img_url: "master" }}" class="w-100" alt="">
                </a>
            </div>
        {% else %}
            <div class="mb-4">
                <p>{{ item.title }}</p>
                <p>{{ item.description }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% schema %}
{
    "name": "sidebar",
    "blocks": [
        {
            "name": "Sidebar image",
            "type": "image",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Sidebar title"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link"
                }
            ]
        },
        {
            "name": "Sidebar Text",
            "type": "text",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Sidebar title"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "description"
                }
            ]
        }
    ]
}
{% endschema %}